#navFooter {
    margin: 0px 0 8px 0;
    padding: 0 0 7px 0;
    width: 100%;
}

#navFooter.navFooterWithStripe {
    margin: 30px 0 0 0;
    padding: 0
}

html.a-js .navFooterMobileStripe, html.a-no-js .navFooterMobileStripe {
    margin: 10px 0 0 0
}

.navFooterMobileStripe {
    display: block;
    border-top: 1px solid #d8d8d8;
    border-bottom: 1px solid #d8d8d8;
    line-height: 50px;
    text-align: center;
    margin: 10px -8px 0 -8px;
    background: #f2f2f2;
    font-weight: 700;
    min-width: 1000px;
    font-size: large
}

#navFooter img {
    border: 0
}

#navFooter table {
    width: 100%
}

#navFooter td {
    font-family: arial, sans-serif;
    font-size: 13px;
    line-height: 120%;
    padding: 0 10px
}

#navFooter a:link, #navFooter a:visited {
    font-family: arial, sans-serif;
    color: #004B91;
    text-decoration: none
}

#navFooter a:active, #navFooter a:active span, #navFooter a:hover, #navFooter a:hover span {
    font-family: arial, sans-serif;
    color: #E47911;
    text-decoration: underline
}

#navFooter a, #navFooter span {
    font-family: arial, sans-serif;
    white-space: nowrap
}

#navFooter table.navFooterVerticalColumn {
    margin: 0 auto 0 auto;
    width: auto
}

.navFooterThreeColumn .navFooterColSpacerOuter {
    width: 35%;
    padding: 0 15px
}

.navFooterThreeColumn .navFooterColSpacerInner {
    width: 15%;
    padding: 0 15px
}

.navFooterVerticalColumn .navFooterColSpacerInner {
    width: 10%;
    padding: 0 15px
}

#navFooter .nav_a {
    font-size: 13px;
}

.navFooterLinkCol {
    color: #333;
    vertical-align: top
}

.navFooterLinkCol ul {
    padding: 0;
    margin: 0
}

.navFooterLinkCol ul li {
    list-style-type: none;
    white-space: nowrap;
    margin: 0 0 8px 0
}

ul.navFooterCondensed li {
    margin: 0 0 4px 0
}

.navFooterColHead {
    font-family: arial, sans-serif;
    color: #333;
    font-size: 16px;
    margin: 6px 0 14px 0;
    white-space: nowrap
}

div.navFooterLine {
    font-family: arial, sans-serif;
    color: #767676;
    font-size: 11px;
    text-align: center;
    line-height: 18px;
    white-space: nowrap
}

div.navFooterLogoLine {
    margin: 30px 8px 4px 8px;
    font-size: 1px;
    line-height: 0
}

#navFooter .nav-logo-base {
    background-position: -10px -90px;
    width: 76px;
    height: 23px;
    margin: 0 auto
}

#navFooter .navFooterLinkLine {
    margin: 0 8px 0 8px
}

#navFooter .navFooterDLicense {
    text-align: center;
    margin: 8px 8px 0 8px
}

.navFooterLinkLine span, .navFooterLinkLine ul {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 0
}

.navFooterLinkLine ul li {
    display: inline
}

.navFooterLineDivider ul li {
    border-left: 1px solid #999
}

.navFooterLinkCol ul li.nav_a_carat {
    position: relative;
    padding-left: 0
}

.navFooterLinkCol ul li.nav_a_carat span.nav_a_carat {
    top: 0;
    font-size: 15px;
    color: #E47911;
    font-weight: 700;
    line-height: 15px
}

.navFooterLinkCol ul li.nav_a_carat a {
    padding-left: 4px
}

.navFooterLineDivider ul li.nav_first {
    border-left: 0
}

.navFooterDLicenseItem {
    font-size: 11px;
    color: #767676
}

.navFooterDLicenseLine {
    text-align: center;
    line-height: 20px
}

.navFooterPadItemLine a, .navFooterPadItemLine span {
    padding: 0 .6em
}

.navFooterDescLine {
    margin: 20px 0 14px 0
}

.navFooterDescSpacer {
    padding: 0
}

#navFooter .navFooterBackToTop {
    background-color: #f3f3f3;
    margin-bottom: 25px
}

#navFooter .navFooterBackToTop span {
    display: block;
    text-align: center;
    color: #111;
    padding: 15px 0;
    line-height: 19px;
    font-size: 13px
}

#navFooter .navFooterBackToTop:active, #navFooter .navFooterBackToTop:focus, #navFooter .navFooterBackToTop:hover {
    background-color: #efefef
}

#navFooter .navFooterBackToTop:active span, #navFooter .navFooterBackToTop:focus span, #navFooter .navFooterBackToTop:hover span {
    color: #111;
    text-decoration: none
}

#navFooter #navBackToTop:active, #navFooter #navBackToTop:focus, #navFooter #navBackToTop:hover {
    color: #111;
    text-decoration: none
}

#navFooter .navFooterDescItem {
    font-size: 11px !important;
    padding: 0 .75em;
    vertical-align: top;
    text-align: left;
    line-height: 115%
}

#navFooter.navFooterDescText {
    font-size: 10px;
    color: #767676;
    line-height: 110%;
    display: block;
    margin-bottom: 1px
}

#navFooter.navGreyFooter {
    margin: 30px -8px -8px;
    padding: 0
}

#navFooter.navGreyFooter .navFooterColHead {
    font-weight: 400;
    line-height: 22px;
    font-size: 17px;
    color: #333;
    margin: 0 0 16px 0
}

#navFooter.navGreyFooter div.navFooterLogoLine {
    margin: 30px 8px 10px 8px
}

#navFooter.navGreyFooter .navFooterLinkLine {
    margin: 0
}

#navFooter.navGreyFooter .navFooterDescItem a:link, #navFooter.navGreyFooter .navFooterDescItem a:visited {
    color: #666
}

#navFooter.navGreyFooter .navFooterPadItemLine {
    margin-bottom: 10px
}

#navFooter.navGreyFooter .navFooterLinkCol a:link, #navFooter.navGreyFooter .navFooterLinkCol a:visited {
    color: #888
}

#navFooter.navGreyFooter .navFooterPadItemLine .nav_last, #navFooter.navGreyFooter .navFooterPadItemLine a:link, #navFooter.navGreyFooter .navFooterPadItemLine a:visited {
    color: #333
}

#navFooter.navGreyFooter .navFooterDescItem a:hover, #navFooter.navGreyFooter .navFooterLinkCol a:hover, #navFooter.navGreyFooter .navFooterPadItemLine a:hover {
    color: #E47911
}

#navFooter.navGreyFooter .navFooterDescLine {
    margin: 24px 0 0;
    padding: 36px 0 40px 0;
    background-color: #F3F3F3;
    border-top: 1px solid #DDD
}

#navFooter.navGreyFooter .navFooterDescText {
    font-weight: 400;
    line-height: 11px
}

#navFooter.navGreyFooter .navFooterEasterEgg {
    background-color: #F3F3F3
}

#navFooter.navLeftFooter {
    margin-bottom: 0;
    padding-bottom: 0;
    background-color: #232f3e;
    min-width: 1000px;
    position: relative
}

#navFooter.navLeftFooter .navFooterEasterEgg {
    position: absolute;
    bottom: 12px;
    width: 100%;
    text-align: center
}

#navFooter.navLeftFooter .navFooterVerticalColumn {
    max-width: 1000px
}

#navFooter.navLeftFooter .navFooterColHead {
    font-weight: 700;
    color: #fff
}

#navFooter.navLeftFooter a.nav_a:link, #navFooter.navLeftFooter a.nav_a:visited, #navFooter.navLeftFooter li.nav_a_carat span.nav_a_carat {
    color: #ddd
}

#navFooter.navLeftFooter .navFooterBackToTop {
    margin-bottom: 40px;
    background-color: #37475a
}

#navFooter.navLeftFooter .navFooterBackToTop:focus, #navFooter.navLeftFooter .navFooterBackToTop:hover {
    background-color: #485769
}

#navFooter.navLeftFooter .navFooterBackToTop .navFooterBackToTopText {
    color: #fff
}

#navFooter.navLeftFooter .navFooterDescText, #navFooter.navLeftFooter .nav_last {
    color: #999
}

#navFooter.navLeftFooter .nav-footer-line {
    border-top: 1px solid #3a4553;
    margin-top: 40px
}

#navFooter.navLeftFooter .navFooterLogoLine, #navFooter.navLeftFooter .navFooterPadItemLine {
    text-align: center;
    max-width: 1000px;
    margin: 30px auto 15px
}

#navFooter.navLeftFooter .navFooterLinkLine {
    margin: 10px auto
}

#navFooter.navLeftFooter div.navFooterLine {
    font-size: 12px
}

#navFooter.navLeftFooter .navFooterDescLine {
    background-color: #131a22;
    padding: 30px 0;
    margin: 30px 0 0
}

#navFooter.navLeftFooter .navFooterDescLine .navFooterMoreOnAmazon {
    max-width: 1000px;
    margin: 0 auto
}

#navFooter.navLeftFooter .navFooterLinkCol ul li {
    margin: 0 0 10px
}

#navFooter.navLeftFooter .navFooterCopyright {
    background-color: #131a22;
    max-width: 100%;
    margin: 0;
    padding: 10px 0 30px
}

#navFooter.navLeftFooter .navFooterMobileStripe {
    background-color: #37475a;
    color: #fff;
    border: none;
    margin: 0
}

#navFooter.navAccessibility.navFooterLinkCol {
    line-height: 120%
}

#navFooter.navAccessibility.navFooterVerticalColumn {
    display: table;
    margin: 0 auto
}

#navFooter.navAccessibility.navFooterColSpacerInner, #navFooter .navAccessibility.navFooterLinkCol {
    display: table-cell;
    padding: 0 10px
}

#navFooter.navAccessibility.navFooterVerticalRow {
    display: table-row
}

#navFooter .navFooterPadItemLine li a {
    font-size: 12px;
}

#navFooter .navFooterLogoLine {
    height: 23px;
}

#navFooter .navFooterDescText {
    font-size: 10px;
}
