body {
    font-family: "Amazon Ember", Arial, sans-serif;
}

.container-fluid {
    margin-bottom: 20px;
    /*margin-top: 20px;*/
}

.item-box {
    display: block;
    border-radius: 4px;
    border: 1px #ddd solid;
    background-color: #fff;
    margin-left:0px;
    margin-right:0px;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0px;
    padding-right:0px;
    padding-bottom:0px;
    padding-top: 0px;
    height: 200px;
    width:248px
}

#productTitle {
    font-size: 22px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-weight: 400;
    color: #111;
}

.item-row {
    height: 18px;
    width:206px;
    margin-left:19px;
    margin-right:0px;
    margin-bottom: 6px;
    margin-top: 15px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 10px;
    color: #0066c0;
}

.item-column {
    height: 40px;
    width:206px;
    margin-left:19px;
    margin-right:0px;
    margin-bottom: 6px;
    margin-top: 5px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 12px;
    font-weight: normal;
    color: black;
}

.quantity {
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 15px;
    color: black;
}

.btn1 {
    width :200px;
    height:30px;
    margin-left:19px;
    margin-right:0px;
    margin-bottom: 6px;
    margin-top: 5px;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 12px;
    color: black;
    font-weight: normal;
    background:#f0c14b;
}

.text-c1 {
    color: #555;
}

.text-c2 {
    color: #B12704;
}

#avail {
    color: #008a00;
}