<?xml version="1.0" encoding="UTF-8" ?>
<!--
  ~ Created by Sandeep Tadepalli on 04/02/18 03:44
  ~ Copyright (c) 2018. All rights reserved.
  -->

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>jersey-serlvet</servlet-name>
    <servlet-class>
      com.sun.jersey.spi.container.servlet.ServletContainer
    </servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>com.ooad.web.api</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>jersey-serlvet</servlet-name>
    <url-pattern>/api/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Header</servlet-name>
    <servlet-class>com.ooad.web.controller.HeaderController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Header</servlet-name>
    <url-pattern>/header</url-pattern>
  </servlet-mapping>

  <servlet>
    <display-name>LoginController</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.ooad.web.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogoutController</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.ooad.web.controller.LogoutController</servlet-class>
  </servlet>

  <servlet>

    <display-name>RegisterController</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.ooad.web.controller.RegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>

</web-app>
